@*
    Created by Naveen
*@
@model p2.Models.HelloModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>My test</title>
    </head>
    <body>
        <p>Hello and Welcome to @Model.Name</p>
        <p> You entered the Valve @Model.Number</p>
        <p>The Square of the @Model.Number entered is @Model.GetSquare()</p>
        <p>The cube of the @Model.Number entered is @Model.GetCube()</p>

    </body>
</html>