@*
    Created by Nimmala
*@
@model NimmalaWeek2R.Models.HelloModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Nimmala week 2R</title>
    </head>
    <body>
        <h1>Nimmala Week 2R Home Page</h1>
        <p>Hello and Welcome to @Model.Name</p>
        <p> You entered @Model.Number</p>
        <p> The square of @Model.Number is @Model.GetSquare()</p>
        <p> The cube of @Model.Number is @Model.GetCube()</p>

    </body>
</html>
